@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.fc .fc-event, .fc .fc-timegrid-event {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
